{% extends "base-template.html" %}
{% block title %}About Me{% endblock %}
{% block head %}
  {{ super() }}
{% endblock %}
{% block content %}

  <!-- Page Header -->
  <header class="masthead" style="background-image: url('{{ url_for('static',filename = 'about-bg.jpg') }}')">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="page-heading">
            <h1>About Me</h1>
            <span class="subheading">Who Am I?</span>
          </div>
        </div>
      </div>
    </div>
  </header>

  <!-- Main Content -->
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        <p>
          Hiee! I am Rachel M. Casis, but you may call me RC. 
          I am currently a Web Development student in iAcademy and will graduate hopefully by July or August 2020. 
        </p>
        <p>So this is my First ever project made using python, and I can say that I enjoyed doing this. 
          Although I had to do extra work on understanding syntax, I still enjoyed and learned alot in making this project.
        </p>
        <p>
          So in this website it lets you input a simple journal entry, all in text no media attachment yet.
          Also it also has the capability to edit and delete entries. 
        </p>
        <p>
          Shoutout to my BF who helped me in making this project and who also taught me that patience is everything!  
        </p>
        <p>
          RACHEL M. CASIS batch 2020 Signing off
        </p>
      </div>
    </div>
  </div>

  <hr>

  {% endblock %}