{% extends "base-template.html" %}
{% block title %}Welcome to Journal{% endblock %}
{% block head %}
<link href="{{ url_for('static', filename='image_style.css') }}" rel="stylesheet">
  {{ super() }}
{% endblock %}
{% block content %}

  <!-- Page Header -->
  <header class="masthead" style="background-image: url('{{ url_for('static',filename = 'home-bg.jpg') }}')">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="site-heading">
            <h1>Welcome to my Journal!</h1>
            <span class="subheading">Journal's made for you</span>
          </div>
        </div>
      </div>
    </div>
  </header>

  <!-- Main Content -->
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto btn_top">
        <button class="btn btn-primary" onclick="sort(value)">sort</button>
        <input type="text" class="img-input" placeholder="Search"></input>
      </div>
    </div>
    <div class="row">
      {% for post in posts|sort(reverse=true, attribute="datetime") %}
      <div class="col-lg-8 col-md-10 mx-auto">
        <div class="post-preview">
          <a href="{{ url_for('post', post_id=post.doc_id)}}">
            <h2 class="post-title">
              {{post.title}}
            </h2>
            <h3 class="post-subtitle">
              {{post.subtitle}}
            </h3>
          </a>
          <p class="post-meta">Posted by
            {{post.author}}
            on {{post.datetime}}</p>
        </div>
        <hr>
      </div>
      <div class="col-lg-1 col-md-10 mx-auto img-style">
        <a class="btn" href="{{ url_for('update', post_id=post.doc_id)}}" role="button" ><img src="{{ url_for('static',filename = 'edit.png') }}" width="30" height="30"></a>
        <a class="btn" href="{{ url_for('delete', post_id=post.doc_id)}}" role="button"><img src="{{ url_for('static',filename = 'delete.png') }}" width="32" height="32"></a>
      </div>
      {% endfor %}
    </div>
  </div>

  <hr>
  {% endblock %}

  <script src="{{ url_for('static', filename= 'sort.js?v=1') }}"></script>
