{% extends "base-template.html" %}
{% block title %}Clean Blog - Start Bootstrap Theme{% endblock %}
{% block head %}
  {{ super() }}
{% endblock %}
{% block content %}
  <!-- Page Header -->
  <header class="masthead" style="background-image: url('{{ url_for('static',filename = 'home-bg.jpg') }}')">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="site-heading">
            <h1>Welcome to my Journal!</h1>
            <span class="subheading">Journal's made for you</span>
          </div>
        </div>
      </div>
    </div>
  </header>

  <!-- Main Content -->
  <div class="container">
    <div class="row">
      {% for post in posts|reverse %}
      <div class="col-lg-8 col-md-10 mx-auto">
        <div class="post-preview">
          <a href="{{ url_for('post', post_id=post.doc_id)}}">
            <h2 class="post-title">
              {{post.title}}
            </h2>
            <h3 class="post-subtitle">
              {{post.subtitle}}
            </h3>
          </a>
          <p class="post-meta">Posted by
            {{post.author}}
            on {{post.datetime}}</p>
        </div>
        <hr>
      </div>
      <div class="col-lg-1 col-md-10 mx-auto">
        <a class="btn btn-primary" href="{{ url_for('update', post_id=post.doc_id)}}" role="button" >Edit</a>
        <a class="btn btn-danger" href="{{ url_for('delete', post_id=post.doc_id)}}" role="button">Delete</a>
      </div>
      {% endfor %}
    </div>
  </div>

  <hr>
  {% endblock %}
