<!DOCTYPE html>
<html lang="en">
<head>
	<title>Login</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
<!--===============================================================================================-->	
	<link rel="icon" type="image/png" href="{{ url_for('static', filename='favicon.ico') }}"/>
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='bootstrap.min.css') }}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename = 'font-awesome.min.css') }}" >
<!--===============================================================================================--> 
	<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename = 'icon-font.min.css') }}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename = 'animate.css') }}">
<!--===============================================================================================-->	
	<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename = 'hamburgers.min.css') }}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename = 'select2.min.css') }}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename = 'util.css') }}">
	<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename = 'main.css') }}">
<!--===============================================================================================-->
</head>
<body>
	
	<div class="limiter">
		<div class="container-login100" style="background-image: url('{{ url_for('static',filename = 'img-01.jpg') }}')">
			<div class="wrap-login100 p-b-30">
				<form class="login100-form validate-form" method="post">
					<div class="login100-form-avatar">
						<img src="{{ url_for('static',filename = 'avatar-01.jpg') }}" alt="AVATAR">
					</div>

					<span class="login100-form-title p-t-20 p-b-45">
						Rachel Casis Journal
					</span>
          
					<div class="wrap-input100 validate-input m-b-10" data-validate = "Email is required">
						<input class="input100" type="text" placeholder="Email" name="email" value="{{request.form.email }}">
						<span class="focus-input100"></span>
						<span class="symbol-input100">
							<i class="fa fa-user"></i>
						</span>
					</div>

					<div class="wrap-input100 validate-input m-b-10" data-validate = "Password is required">
						<input class="input100" type="password" placeholder="Password" name="password" value="{{request.form.password }}">
						<span class="focus-input100"></span>
						<span class="symbol-input100">
							<i class="fa fa-lock"></i>
						</span>
					</div>

					{% if error %}
						<p class="error" style="color:white"><strong>Error:</strong> {{ error }}
					{% endif %}

					<div class="container-login100-form-btn p-t-10">
						<button class="login100-form-btn">
							Login
						</button>
					</div>

				</form>
			</div>
		</div>
	</div>
	
	

	
<!--===============================================================================================-->	
	<script src="{{ url_for('static',filename = 'jquery-3.2.1.min.js') }}"></script>
<!--===============================================================================================-->
	<script src="{{ url_for('static',filename = 'popper.js') }}"></script>
	<script src="{{ url_for('static',filename = 'bootstrap.min.js') }}"></script>
<!--===============================================================================================-->
	<script src="{{ url_for('static',filename = 'select2.min.js') }}"></script>
<!--===============================================================================================-->
	<script src="{{ url_for('static',filename = 'main.js') }}"></script>

</body>
</html>

